.selectdemoBasicUsage md-input-container {
  margin-right: 10px; }


/*
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

.md-select-value .md-select-icon:after {
    display: block;
    content: '\2304';
    position: relative;
    top: 2px;
    speak: none;
    font-size: 13px;
    -webkit-transform: scaleY(0.5) scaleX(1);
            transform: scaleY(0.5) scaleX(1); }