/* Style the tab */

.tab {
    overflow: hidden;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: #592f93;
    padding: 12px 14px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    font-weight: bolder;
}


/* Create an active/current tablink class */

.tab button.active {
    font-weight: bolder;
    border-bottom: 3px solid #592f93;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}