ul.timeline {
    list-style-type: none;
}

ul.timeline:before {
    content: ' ';
    background: #b3b4be;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.form>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #bb302d;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.formacao h4 {
    color: #bb302d;
    font-weight: bold;
}

.form a:not([href]):not([tabindex]) {
    color: #bb302d;
}

ul.exp>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #cbbe00;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.experiencia h4 {
    color: #cbbe00;
    font-weight: bold;
}

.experiencia a:not([href]):not([tabindex]) {
    color: #cbbe00;
}