body{
    margin: 0;
    padding: 0;
}
.accordion {
    background-color: transparent;
    font: bold 20px 'Barlow Semi Condensed', sans-serif;
    color: #1E90FF;
    cursor: pointer;
    padding-bottom: 17px;
    padding-top: 24px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
}
.accordion:after {
    font-family: FontAwesome;            
    content: '\f107';
    font-size: 26px;
    color: #4682B4;
    float: right;
}
.active:after {
    font-family: FontAwesome;
    content: "\f106";
}
button:focus {
    outline: none;
}
.panel {
    padding: 0 5px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #4682B4;                
}
.panel p{
    font: normal 16px 'Barlow Semi Condensed', sans-serif;
    color: #363636;
}