body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.navbar-brand {
    font-size: 14px;
}

.navbar-brand img {
    width: 9%;
    height: 9%;
}

.bg-primary {
    background-color: #4F4F4F !important;
}