/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

h2{
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  text-shadow: 1px 0px 0px black, 
                 -1px 0px 0px black, 
                 0px 1px 0px black, 
                 0px -1px 0px black;
  letter-spacing: 3px;
}

md-input-container{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

md-input-container.md-input-focused .md-input,
  md-input-container .md-input.ng-invalid.ng-dirty,
  md-input-container.md-input-resized .md-input {
    padding-bottom: 0;
    border-width: 0 0 2px 0; }
    

md-input-container .md-input{
    width: 60px;
    font-family: 'Acme', sans-serif;
}

md-input-container label{
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}

.label-red{
  color: red;
  opacity: 0.5;
}

md-input-container:not(.md-input-invalid).md-input-focused .label-red,
md-input-container:not(.md-input-invalid).md-input-has-value .label-red{
  color: red;
  opacity: 1;
}

.label-green{
  color: green;
  opacity: 0.5;
}

md-input-container:not(.md-input-invalid).md-input-focused .label-green,
md-input-container:not(.md-input-invalid).md-input-has-value .label-green{
  color: green;
  opacity: 1;
}

.label-blue{
  color: blue;
  opacity: 0.5;
}

md-input-container:not(.md-input-invalid).md-input-focused .label-blue,
md-input-container:not(.md-input-invalid).md-input-has-value .label-blue{
  color: blue;
  opacity: 1;
}

#input-red{
  color: red;
  font-size: 25px;
  border-color: red;
}

#input-green{
  color: green;
  font-size: 25px;
  border-color: green;
}

#input-blue{
  color: blue;
  font-size: 25px;
  border-color: blue;
}

