/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

md-input-container{
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

md-input-container.md-input-focused .md-input,
  md-input-container .md-input.ng-invalid.ng-dirty,
  md-input-container.md-input-resized .md-input {
    padding-bottom: 0;
    border-width: 0 0 2px 0; }
    

md-input-container .md-input{
    width: 100px;
}

md-input-container .md-default-theme .md-input, md-input-container .md-input{
    color: blue;
    border-color: red;
}

