@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower');
body {
    background: rgb(243, 243, 253);
    background: radial-gradient(circle, rgba(243, 243, 253, 1) 0%, rgba(209, 213, 250, 1) 100%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.fundo-degrade {
    background-image: linear-gradient(to right, #491d76, #592f93);
}

.navbar-brand {
    width: 40%;
}

.navbar-brand img {
    width: 177px;
}

.navbar-toggler i {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #8682d6;
}

.user-img img {
    width: 400px;
    height: 400px;
}

.user-info .titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
}

.titulo h1 {
    font-family: 'Montserrat', sans-serif;
    color: #8682d6;
}

.titulo h2 {
    font-weight: 500;
}

.titulo p {
    text-transform: none;
    line-height: 1.2;
}

.titulo ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.titulo ul li {
    display: inline;
}

.titulo ul li a {
    text-transform: none;
    color: #8682d6;
}

#especialidades h3 {
    font-weight: bold;
    text-transform: uppercase;
}

#subir {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#voltarTopo a {
    color: red;
}

#voltarTopo img {
    width: 40px;
}

#form-exp label {
    text-transform: uppercase;
}

.img-card {
    width: 100%;
}

.overlay {
    background-color: #491d76;
    opacity: 0.5;
}

.overlay a {
    font-size: 22px;
    color: #fff;
    font-family: 'The Girl Next Door', cursive;
}

.footer {
    background-image: linear-gradient(to right, #491d76, #592f93);
    color: #fff;
}

.logo-footer {
    font-family: 'Montserrat', sans-serif;
}

.contato {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contato a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #8682d6;
    font-size: 18px;
}

.contato img {
    width: 40px;
}

.signature {
    font-size: 22px;
    font-family: 'The Girl Next Door', cursive;
}

.footer-rs {
    list-style: none;
}

.footer-rs li {
    display: inline;
}

.footer-rs a {
    color: #8682d6;
    margin-left: 10px;
}