.redes-sociais {
    width: 350px;
}

.redes-sociais ul {
    list-style: none;
}

.redes-sociais ul li {
    width: 50px;
    height: 50px;
    line-height: 45px;
    margin: 0 10px 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    float: left;
    transition: all 0.5s ease;
}

.redes-sociais ul li .fa {
    color: #fff;
    transition: all 0.5s ease;
}


/*facebook*/

.redes-sociais ul li:hover.facebook {
    border: 3px solid #3b5998;
    box-shadow: 0 0 5px #3b5998;
    transition: all 0.5s ease;
}

.redes-sociais ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 5px #3b5998;
    transition: all 0.5s ease;
}


/* instagram */

.redes-sociais ul li:hover.instagram {
    border: 3px solid #bc2a8d;
    box-shadow: 0 0 5px #bc2a8d;
    transition: all 0.5s ease;
}

.redes-sociais ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 5px #bc2a8d;
    transition: all 0.5s ease;
}


/* linkedin */

.redes-sociais ul li:hover.linkedin {
    border: 3px solid #007bb6;
    box-shadow: 0 0 5px #007bb6;
    transition: all 0.5s ease;
}

.redes-sociais ul li:hover .fa-linkedin {
    color: #007bb6;
    text-shadow: 0 0 5px #007bb6;
    transition: all 0.5s ease;
}


/* whatsapp */

.redes-sociais ul li:hover.whatsapp {
    border: 3px solid #4dc247;
    box-shadow: 0 0 5px #4dc247;
    transition: all 0.5s ease;
}

.redes-sociais ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 5px #4dc247;
    transition: all 0.5s ease;
}