.container{
  
}

.selectdemoBasicUsage md-input-container {
  margin-right: 10px; }

.md-select-value .md-select-icon:after {
    display: block;
    content: '\2304';
    position: relative;
    top: 2px;
    speak: none;
    font-size: 13px;
    -webkit-transform: scaleY(0.5) scaleX(1);
            transform: scaleY(0.5) scaleX(1); }